/*import ibm plex from font folder*/
@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 500;
    src: url(font/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 800;
    src: url(font/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: "DM Sans";
    font-weight: 500;
    src: url(font/DMSans-Regular.ttf);
}

@font-face {
    font-family: "DM Sans";
    font-weight: 800;
    src: url(font/DMSans-Bold.ttf);
}

/* set color variables */
:root {
    /* CSS HEX */
    --hookers-green: #567572ff;
    --magic-mint: #b3e9c7ff;
    --tea-green: #c2f8cbff;
    --brink-pink: #e85d75ff;
    --honeydew: #f0fff1ff;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--honeydew);
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

#main-wrapper > #header-main > h3 {
    font-size: 24px;
    margin-left: 18px;
    margin-bottom: 12px;
}

#project-wrapper {
    display: grid;
    padding: 16px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    border-radius: 16px;
    background-color: var(--magic-mint);
}

.project-box {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--tea-green);
}

.project-box:hover {
    background-color: var(--honeydew);
}

.project-box > h3, p {
    margin: 0
}

/**************************************/

#project-wrapper.opened {
    background-color: var(--magic-mint);
    padding: 0%;
    overflow: hidden;
}

#table-wrapper {
    position: relative;
    overflow: scroll;
    grid-column: 1 / span 4;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#table-wrapper::-webkit-scrollbar {
    display: none;
}

#table-wrapper > table {
    width: 100%;
    border-collapse: collapse;
}

#table-wrapper > table > tbody > tr:nth-child(odd) {
    background-color: var(--tea-green);
}


tr {
    padding: auto;
}

th.checkbox {
    min-width: 48px;
}

td.checkbox {
    text-align: center;
}

thead {
    background-color: var(--hookers-green);
}

th {
    min-width: 192px;
    color: var(--honeydew);
}


th.id {
    min-width: 144px;
}

tr {
    height: 36px;
}

td {
    position: relative;
    overflow: scroll;
    text-overflow: clip;
    vertical-align: middle;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

td::-webkit-scrollbar {
    display: none;
}

td > span {
    position: absolute;
    vertical-align: middle;
    line-height: 24px;
    top: 25%;
}

#select-button {
    right: 0;
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#add-vid-button {
    background-color: var(--brink-pink);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 18px;
    text-align: center;
    vertical-align: baseline;
    font-size: 36px;
    line-height: 42px;
    color: var(--honeydew);
}

#tooltip {
    position: absolute;
    z-index: 10;
    background-color: var(--hookers-green);
    color: var(--honeydew);
    border-radius: 16px;
    padding: 12px;
}

.tooltip-item {
    padding: 8px;
    border-radius: 8px;

}

.tooltip-item:hover {
    background-color: rgba(255, 255, 255, .2);
}
